html{ direction:rtl; background:url(../images/html-bg.jpg) repeat-x top;}
body{ background:url(../images/body-bg.jpg) no-repeat top center;}
.content{ min-height:700px; margin:40px 0;}

.header{ min-height:120px;}
.header .logo{ background: url(../images/logo.png) no-repeat; display:block; text-indent:-9999px; width:92px; height:70px; margin-top:25px;}
.header .nav-pills{ margin-top:45px;}
.header .nav-pills a{color:#378AA1;}
.header .nav-pills > .active > a{ color:#fff;}
.header .nav-pills{ margin-top:45px;}
.header .search{  margin-top:22px; color:#fff;}
.header .search p, .footer .search p{ font-size:12px; margin-bottom:0;}
.header .span1{ width:100px;}

.social{ background: url(../images/social.png) no-repeat; width:22px; height:22px; display:inline-block; text-indent:-9999px; margin:50px 2px 0;}
.facebook{ background-position:-62px 0;}
.twitter{ background-position:1px 0;}
.google{ background-position:-30px 0;}

.footer{ background:url(../images/footer-bg.png) no-repeat center top; min-height:160px; padding-top:40px;}
.footer .menu a{ color:#666; margin-left:10px;}

h1{ color:#378AA1; font-weight:normal;}
.title-small{ color:#378AA1;}
.title-medium{ font-size:24px; color:#378AA1; font-weight:normal; margin:20px 0 10px;}

/*-- home --*/
.media-show{text-align:center;}
.media-share{ margin-top:40px;}
.time{ background:url(../images/time-bg.png) no-repeat; width:352px; height:64px; position:relative; font-size:32px; letter-spacing:20px; margin-bottom:10px;}
.time .day{ position:absolute; top:9px; left:9px;}
.time .hour{ position:absolute; top:9px; left:104px;}
.time .min{ position:absolute; top:9px; left:195px;}
.time .sec{ position:absolute; top:9px; left:289px;}
.case h1{ margin-bottom:10px;}
.case .intro{ margin-bottom:20px;}
.case .actions{ margin-top:20px;}
.case-list{ margin-right:20px; margin-bottom:30px;}
.case-list li{ margin-bottom:5px;}
ul.case-list{ list-style:none; margin-right:0;}
.case-list em{ font-style:normal; color:#999;}
.money.span2{ margin-right:0;}
.money.span2 strong{ font-size:18px;}

/*-- ngo listing --*/
.ngo-block.span5{  width:440px; min-height:140px; margin-bottom:40px;}
.ngo-block .box{ background: #fff; border-width:1px 2px 2px 1px; border-color:#eee; border-style:solid; margin-right:20px;}
.ngo-block .span3{ width:240px; margin:0}
.ngo-block .span2{ width:197px; margin:0; min-height:160px; }
.ngo-block .ngo-logo{ text-align:center;}
.ngo-block .ngo-logo img{ margin:20px auto; }
.ngo-block .stats{ background: #fdfefe url(../images/ngo-block-bg.png) repeat-y right;}
.ngo-block .stats p{ margin:20px; color:#99bebf; font-size:18px; }
.ngo-block .stats p span{ color:#529aae; font-weight:bold;}

.ngo-info.span5{ width:440px;}
.ngo-info h3{ margin:10px 0 0; color:#e88a60;}
.ngo-info .btn{ margin-top:5px;}
.ngo-info .time{ font-size:12px; color:#999; margin-bottom:0;}

.center{ text-align:center;}
.share-case{ margin:40px 0;}
.thanks h1{ margin:20px 0;}

/*-- donate --*/
.donate-table{ margin-top:20px;}
.donate-table th{ background:#fff url(../images/th-bg.png) repeat-x top; color:#378AA1; text-align:center; font-size:21px; font-family:Arial, Helvetica, sans-serif; padding:20px 8px; }
.donate-table h3{ margin-bottom:5px; color:#378AA1;}