<div class="container">
  <div class="row">
    <div class="span6 case">
      <p><a href="#" class="title-small">زكاة مال</a> : <a href="#" class="title-small"> زواج</a></p>
      <h1><a href="#">إتبرع لإنقاذ حياة محمد حسني مبارك من المرض</a></h1>
      <p>حسني مبارك يعاني من أمراض عديدة مجهولة النوع والمصدر ويوجد بعض التشككات إنه حوار بس على رأي غسان مطر؛ اعمل الصح!</p>
      <div class="case actions">
        <a href="#" class="btn btn-primary btn-large">اتبرع دلوقت</a>&nbsp;&nbsp;
        <a href="#">تفاصيل أكتر عن الحالة  &raquo;</a>
      </div>
    </div><!--end span6-->
    <div class="span5 offset1">
      <p class="title-small">الوقت المتبقى علشان تتبرع</p>
      <div class="time">
        <span class="day">02</span>
        <span class="hour">19</span>
        <span class="min">30</span>
        <span class="sec">02</span>
      </div>

      <p class="title-small">الفلوس المطلوبه</p>
      <div class="progress">
        <div class="bar" style="width: 60%;"></div>
      </div>


      <div class="span2 money">
        <p>جمعنا <br /> <strong>145,000</strong> جنيه</p>
      </div>
      <div class="span2 money">
        <p>فاضل <br /> <strong>135,000</strong> جنيه</p>
      </div>

    </div><!--end span5-->


  </div><!--end row-->

  <div class="row media-share">
    <div class="span9"><p class="pull-left">ساعدنا بنشر الفيديو</p></div> 
    <div class="span3"><img src="../images/socia-share.png"  /></div>
  </div>

  <div class="row">
    <div class="span12">
      <div class="media-show">
        <img src="../images/dumm/video.jpg" width="854" height="510" /></div>
    </div>
  </div><!--end row-->

</div><!--end container-->